{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1> All Posts </h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>DatePosted</th>
                <th>Title</th>
                <th>Author</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.datePosted ? post.datePosted|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.author.username }}</td>
                <td>
                    <a href="{{ path('post_show', {'id': post.id}) }}">Read more</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('post_new') }}">Create new</a>
{% endblock %}
